.page-content {
    padding-top: 20px;
    padding-bottom: 50px;
    background-image: url('../../../public/content/img/marvel.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
