@import '../../style/variables.scss';

.character-list__item {
    position: relative;
    height: 310px;
    cursor: pointer;
  
    &:hover {
      transform: scale(0.95);
      box-shadow: 0 5px 20px $red-op-60;
    }
}

.character-list__poster {
    height: 310px;
}

.character-list__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character-list__name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-dark-op-80;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $white-basic;
}