@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

//viewports

$desktop-width: 1920px;

//font

$main-font: 'Open Sans', 'Verdana', sans-serif;

// black&white

$white-basic: #ffffff;
$white-basic-op-60: rgba($white-basic, 0.8);
$white-basic-op-10: rgba($white-basic, 0.1);
$black-basic: #000000;
$black-basic-op-60: rgba($black-basic, 0.6);

//grey

$grey-dark: #2c2d2e;
$grey-dark-op-80: rgba($grey-dark, 0.8);
$grey-border: #c9ccd4;
$grey-border-op-80: rgba($grey-border, 0.8);

//red

$red: #c50505;
$red-op-60: rgba($red, 0.6);
$red-op-30: rgba($red, 0.3);

//transition

$transition-time-slow: 300ms;
